@use "sass:map";
// Bootstrap
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
// /Bootstrap

@import "./base.scss";
@import "./button.scss";

.btn-burger {
  position: relative;
  background: none;
  border: none;
  width: 1.125rem;
  height: .75rem;
  margin-right: 1rem;
  padding: 0;
}

.btn-burger-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  color: map.get($theme-colors, "darkGrey");
}

.header__logo {
  width: 96px;
  height: 23px;
}

.header__left-block,
.header__right-block {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.header__left-block {
  padding-left: 1.25rem;
}

.header__right-block {
  text-align: right;
  padding-right: 1.25rem;
}

.header__search {
  margin-right: 1.25rem;
}