@use "sass:map";
// Bootstrap
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
// /Bootstrap

@import "./base.scss";
@import "./button.scss";

// Header

  .header {
    display: none;

    @media screen and (min-width: map.get($grid-breakpoints, "lg")) {
      display: block;
      color: map.get($theme-colors, "darkGrey");
      background-color: map.get($theme-colors, "lightBeige");
    }
  }

  // Navbar
  .navbar__left-block,
  .navbar__middle-block,
  .navbar__right-block {
    display: flex;
    align-items: center;
  }

  .navbar__middle-block {
    justify-content: flex-end;
    @media screen and (min-width: map.get($grid-breakpoints, "xl")) {
      justify-content: flex-start;
    }
    padding: 1.5rem;
  }
  
  .navbar__right-block {
    @media screen and (min-width: map.get($grid-breakpoints, "lg")) {
      justify-content: flex-end;
    }
  }

  // .navbar__nav {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-around;
  // }

  .navbar__logo {
    width: 10rem;
    height: 100%;
  }

  .navbar__search,
  .navbar__bag {
    width: 1rem;
    height: 100%;
  }
  // /Navbar


  // Header Mobile
    .header-mobile {
      display: block;
      color: map.get($theme-colors, "darkGrey");
      background-color: map.get($theme-colors, "lightBeige");
      
      @media screen and (min-width: map.get($grid-breakpoints, "lg")) {
        display: none;
      }
    }

    .header-mobile__logo {
      
      @media screen and (min-width: map.get($grid-breakpoints, "sm")) {
        width: 142px;
        height: 34px;
        margin-right: 10%;
      }

      width: 96px;
      height: 23px;
    }

    .header-mobile__left-block,
    .header-mobile__right-block {
      display: flex;
      align-items: center;
      padding: 1rem;
    }

    .header-mobile__left-block {
      padding-left: 1.25rem;
      @media screen and (min-width: map.get($grid-breakpoints, "sm")) {
        justify-content: space-between;
      }
    }

    .btn-burger {
      position: relative;
      background: none;
      border: none;
      width: 1.125rem;
      height: 0.75rem;
      margin-right: 1rem;
      padding: 0;
      @media screen and (min-width: map.get($grid-breakpoints, "sm")) {
        width: 1.75rem;
        height: 1.25rem;
      }
    }
    
    .btn-burger-icon {
      position: absolute;
      top: 0;
      left: 0;
    }

    .header-mobile__right-block {
      text-align: right;
      padding-right: 1.25rem;
      justify-content: flex-end;

      @media screen and (min-width: map.get($grid-breakpoints, "lg")) {
        display: block;
        color: map.get($theme-colors, "darkGrey");
        background-color: map.get($theme-colors, "lightBeige");
      }
    }

    .header-mobile__search,
    .header-mobile__bag {
      width: 1rem;
      height: 100%;
      @media screen and (min-width: map.get($grid-breakpoints, "sm")) {
        width: 1.5rem;
      }
    }

    .header-mobile__search {
      margin-right: 1.25rem;

      @media screen and (min-width: map.get($grid-breakpoints, "sm")) {
        margin-right: 1.75rem;
      }
    }

    // Navbar-mobile
      .navbar-mobile {
        position: relative;
        height: 0;
        width: 100vw;
        text-align: center;
        padding: 0;
        transition: 0.8s ease-out;
        left: -0.75rem;
        top: -110vh;
        opacity: 0;
      }

      .navbar-mobile.is-active {
        top: 0;
        opacity: 1;
        height: 100vh;
        padding: 2.5rem 1.25rem 6.25rem;
      }

      .navbar-mobile__logo {
        width: 2.5rem;
        height: 100%;
        margin-bottom: 2rem;
      }

      // Navigation-mobile
        .navbar-mobile__item {
          border-bottom: 1px solid map.get($theme-colors, "darkGrey");
          padding: 0.46875rem;
          &:first-child {
            border-top: 1px solid map.get($theme-colors, "darkGrey");
          }
          &:last-child {
            margin-top: 2.375rem;
            border: none;
          }
        }

        .navbar-mobile__instagram-icon,
        .navbar-mobile__facebook-icon {
          width: 1rem;
          height: 100%;
        }

        .navbar-mobile__instagram-icon {
          margin-right: 1.25rem;
        }
      // /Navigation-mobile
    // /Navbar-mobile
  // /Header Mobile

// /Header
